// Import page-specific CSS files here.
@import "home";
@import "show";

.show-nav {
  display:flex;
  justify-content: space-between;
}

.yachts_index_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.yacht-cards {
    display: grid;
  img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
  }
}

.top-text {
  display: flex;
  margin: 18px 0px 0px 0px;
  align-items: baseline;

  a {
    text-decoration: none;
    font-weight: bold;
    color: #1F2833;
  }
  i {
    margin-left: 8px;
    padding-right: 6px;
  }
}

.bottom-text {
  display: flex;
  justify-content: space-between;
}

.yacht-text {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.capacity-text {
  color:  #1F2833;
}
