// Import page-specific CSS files here.
@import "home";
@import "show";

.show-nav {
  display:flex;
  justify-content: space-between;
}

.yachts_index_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// .cards {
//   display: grid;
//   grid-template-rows: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

.yacht-cards {
    display: grid;
    // grid-template-rows: 1fr 1fr 1fr;
    // grid-gap: 16px;
  img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
  }
}

.top-text {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    font-weight: bold;
    color: #1F2833;
  }
}

.bottom-text {
  display: flex;
  justify-content: space-between;
}
