.mini-imgs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 20px;
}

.show-style {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.large-img {
  img {
    border-radius: 10px;
  }
}

.mini-imgs img {
  height: auto;
  width: 100%;
  padding-top: 0%;
}
