// .show-img {
//   height: 400px;
//   width: 700px;
//   border-radius: 5px;
//   margin: 10px;

// }

.mini-img {
  width: 100%;
  height: auto;
}

.show-style {
  height: 105%;
}

.large-img {
  border-top-left-radius: 30px;
}
