<div class="container border-bottom">
<h1 class='m-3'>My Bookings</h1>
<% if @bookings.length.positive? %>
     <%= render partial: 'hasbookings' %>
     <% else %>
     <%= render partial: 'nobookings' %>
   <% end %>
</div>
