<div class="container">
  <h1 class='m-3 border-bottom'>My Bookings</h1>
  <% if @bookings.length.positive? %>
    <%= render partial: 'hasbookings' %>
  <% else %>
     <%= render partial: 'nobookings' %>
   <% end %>
</div>
