<div class="container">
  <div class="text-button-container">
    <h2 class="mt-5">My Bookings</h2>
    <div class='text-center rounded mt-2 mb-2'><%= link_to "Browse Yachts", yachts_path, class: 'btn-small' %></div>
  </div>

<% if @bookings.length.positive? %>
     <%= render partial: 'hasbookings' %>
     <% else %>
     <%= render partial: 'nobookings' %>
   <% end %>
</div>
