<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1523496922380-91d5afba98a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3264&q=80);">
  <div class="container">
    <h1>Yacht with us</h1>
    <h2 class="mb-4">Jacht forever</h2>
    <a class="btn-cta" href="#">Book now</a>
  </div>

</div>

<div class="container mt-4">
   <h5>
      Imagine a world where turquoise waters stretch as far as the eye can see, where the gentle caress of the sea breeze carries your worries away, and where opulent luxury meets unparalleled adventure. Welcome to JachtForever, the premier destination for booking exquisite yachts and embarking on the voyage of a lifetime.
    </h5>


    <div class=" cards_container row flex-container flex-direction: row; ">

      <div class=" column card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1561751788-85fcb8b78413?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3432&q=80); background-size: 100% 100%; color: white; text-align: center; justify-content:center;">

        <h3> Your Journey, Your Way</h3>
      </div>

      <div class=" column card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1527588574470-7152d7c3c15e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjA2fHx5YWNodHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60); background-size: cover; color: white; justify-content: center; align-items: center;">
       <h3>Seamless Booking, Impeccable Service </h3>
      </div>
     </div>


</div>
