.btn-cta {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #18C0D6;
  transition: 0.3s ease;
  text-decoration: none
}

.btn-cta:hover {
  background: #1F2833;
  color: white;
}


.btn-small {
  color: white;
  padding: 10px 25px;
  border-radius: 4px;
  background: #1F2833;
  transition: 0.3s ease;
  text-decoration: none;
  font-size: 16px;

}

.btn-small:hover {
  background: #18C0D6;
  color: white;
}


.btn-small-blue {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  background: #18C0D6;
  transition: 0.3s ease;
  text-decoration: none
}

.btn-small-blue:hover {
  background: #1F2833;
  color: white;
}
