.btn-cta {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #18C0D6;
  transition: 0.3s ease;
  text-decoration: none
}

.btn-cta:hover {
  background: #1F2833;
  color: white;
}
