.btn-reject {
  color: white;
  padding: 4px 14px;
  border-radius: 4px;
  background: #cf1d29;
  transition: 0.3s ease;
  text-decoration: none
}

.btn-reject:hover {
  background: #1F2833;
  color: white;
}
