.btn-accept {
  color: white;
  padding: 4px 14px;
  border-radius: 4px;
  background: #1dcf37;
  transition: 0.3s ease;
  text-decoration: none
}

.btn-accept:hover {
  background: #1F2833;
  color: white;
}
