.listing-yacht-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
}

.listing-yacht-card {
  display: grid;
  height: 50%;
}

.listing-yacht-name {
  h5 {
    margin-bottom: 0px;
  }
  padding-top: 6px;
  display:grid;
  color: #1F2833;
}

.top-text-button {
  display: flex;
  justify-content: space-between;
   align-items: center;
}
